<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Editar Usuario</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group row mt-2">
                            <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" autofocus required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="apellidos" class="col-sm-4 col-form-label">Apellidos</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="apellidos" id="apellidos" [(ngModel)]="usuario.apellidos" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="direccion" class="col-sm-4 col-form-label">Direccion</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="usuario.direccion" placeholder="Direccion" required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="telefono" id="telefono" [(ngModel)]="usuario.telefono" placeholder="Telefono" required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="correo" class="col-sm-4 col-form-label">Correo</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="correo" id="correo" [(ngModel)]="usuario.correo" placeholder="Correo" required>
                            </div>
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
