<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Crear Hamburguesa</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group row mt-2">
                            <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="hamburguesa.nombre" name="nombre" id="nombre" placeholder="Nombre" autofocus required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="descripcion" class="col-sm-4 col-form-label">Descripcion</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="hamburguesa.descripcion" name="descripcion" id="descripcion" placeholder="Descripcion" required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="calorias" class="col-sm-4 col-form-label">Calorias</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="hamburguesa.calorias" name="calorias" id="calorias" placeholder="Calorias" required>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label for="imagen" class="col-sm-4 col-form-label">URL Imagen</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="hamburguesa.imagen" name="imagen" id="imagen" placeholder=" URL Imagen" required>
                            </div>
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
